.color-blue
{
    /* background-color: #a33a2085; */
    background-color: #1f1f1f;
    color: black;
}
.color-white
{
    background-color: #ffffffa7;
    color: wheat;
    
}
.color-grey
{
    background-color: #1f1f1f;
    color: wheat;
}
.left-edge-design
{
    font-size: 1vw;
    margin-left: 3vw;
}
.bottom-edge-design
{
    font-size: 1vw;
    margin-bottom: 3vw;
}
.box-design
{
    border: 0.15vw solid black;
    border-radius: .5px;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    place-content: center;
    cursor : pointer
}

.box-design > img
{
    width: 90%;
    -webkit-filter: drop-shadow(1px 1px 4px rgb(255, 255, 255)); /* to give glow */
}


.matrix-design {
    display: grid;
    grid-template-columns: repeat(9, 4.5vw);
    grid-template-rows: repeat(9, 4.5vw);
    justify-content: center;
    padding: 2vw 2vw 0 2vw;
    text-align: center;
    width: 94vw;
    height: 38vw;
    margin: auto;
}
.box-design:focus{
    background-color: #7AC74F;
}

.color-brown
{
    color : rgba(193, 0, 0, 0.587)
}

.players
{
    /* margin-top: 11vh; */
    position: relative;
    background-color:  #1f1f1f;
    text-align: center;
    margin-bottom: .5vw;
    padding: 0.5vw;
    font-size: large;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.543);
}
.temp
{
    color : rgba(193, 0, 0, 0.724)
}
.pawn-promoted
{
    position: relative;
    top: 30vh;
    /* top: calc((100vh - (16vh+8vmin))/2);
    left: calc((98vw - (80vw+6vmin))/2); */
    display: grid;
    grid-template-rows: repeat(2, 10vh);
    grid-template-columns: repeat(2, 35vw);
    row-gap: 6vmin;
    column-gap: 6vmin;
    justify-content: center;
    text-align: center;
   
}
.pawn-promoted button
{
    width: 100%;
    height: 100%;
    font-size: 1.5vw;
    background: #484848;
}