body
{
  background-color: #000000;
  caret-color: transparent; 
}
.text-white
{
  color: white;
}
.navbar
{
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  margin: 0vw 10vw;
  margin-top: 20px;
  font-size: 20px;

}
.navbar a
{
  color: wheat;
  text-decoration: none;
}


.container
{
  color: wheat;
  margin: 7vh auto auto auto;
  width: 50%;
  border: 3px solid #1f1f1f;
  padding: 10px;
}


.text-center
{
  margin: auto;
  width: 50%;
}