body
{
  background-color: #000000;
  caret-color: transparent; 
}
.text-white
{
  color: white;
}
.navbar
{
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  margin: 0vw 10vw;
  margin-top: 20px;
  font-size: 20px;

}
.navbar a
{
  color: wheat;
  text-decoration: none;
}
