body
{
  background-color: rgb(0, 0, 0);
  caret-color: transparent; 
}
.text-white
{
  color: white;
}
.navbar
{
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  margin: 0vw 10vw;
  margin-top: 20px;
  font-size: 20px;
}
.home
{
  margin-left: 4vw;
}
